<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="7.0607" targetFramework="net45" />
  <package id="jQuery" version="2.0.2" targetFramework="net45" />
  <package id="jQuery.Ajax.Unobtrusive" version="2.0.20710.0" targetFramework="net45" />
  <package id="jQuery.Color" version="2.1.2" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.10.3" targetFramework="net45" />
  <package id="jQuery.Validation" version="1.11.1" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="2.0.30506.0" targetFramework="net45" />
</packages>